body{
    font-family: verdana;
    font-size:2em;
    background-color: #126;
    color: #fff;
    margin:0px;
    padding:0px;
    padding:5%;
    button {
        font-size:1em;
        border:none 5px #000000;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border-radius:5px;
    }
}
