@bgColor: #666;
@boardShadow: #000000;
@boardBorder: rgba(0,0,0, 0.2);

@whiteColor:#ddd;
@whiteBackground: #EAE8D4;
@whiteShadow:#000;

@blackColor: #000;
@blackBackground: #537395;
@blackShadow: #fff;

@hoverCellColor: rgba(0, 255, 0, 0.4);
@boardTextColor: rgba(200, 200, 200, 0.6);

@outerBorder: rgba(170,170,170, 0.5);
@innerBorder: rgba(170,170,170, 0.5);
@innerBorderHover: rgba(0,200,0, 1);

@perc: 70vmin;
@rem: 15vmin; 
@brd: 5vmin;
@cellSize: calc((@perc - 2 * @brd) / 8);
@outLineOut:1vmin;
@outLineIn:0.3vmin;
@fontSize:2vmin;

@round : 20px;

.makeRandom(@min: 0, @max: @min+1, @int: 0) { 
    .checkInt() {
        @getNum: `Math.random() * (@{max} - @{min} + @{int})`;
        @base: unit(`@{int} == 1 ? Math.floor(@{getNum}) : @{getNum}`);
    }
    .checkInt();
    @randNum: @base + @min;
}




@backgroundImage: '../media/bg1.jpg';
@backgroundImageBoard: '../media/marble4.jpg';
@backgroundImageCellWhite: '../media/marble2.jpg';
@backgroundImageCellBlack: '../media/marble4.jpg';

@rot: 30deg; 
@perspective: 100em;


.bgCover(){
    // background-image: url(@backgroundImage);
    background-size: 100vw 100vh;
}
.bgMarbleBoard(){
    background-image: url(@backgroundImageBoard);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.bgMarbleCellWhite(){
    background-image: url(@backgroundImageCellWhite);
    background-repeat: no-repeat;
    background-position:center;
}
.bgMarbleCellBlack(){
    background-image: url(@backgroundImageCellBlack);
    background-repeat: no-repeat;
    background-position:center;
}
.roundTop() {
    -moz-border-radius-topleft: @round;
    -moz-border-radius-topright:@round;
    -webkit-border-top-left-radius:@round;
    -webkit-border-top-right-radius:@round;
    border-top-left-radius:@round;
    border-top-right-radius:@round;
}
.roundBottom() {
    -moz-border-radius-bottomleft:@round;
    -moz-border-radius-bottomright:@round;
    -webkit-border-bottom-left-radius:@round;
    -webkit-border-bottom-right-radius:@round;
    border-bottom-left-radius:@round;
    border-bottom-right-radius:@round;
}

.roundLeft() {
    -moz-border-radius-bottomleft:@round;
    -moz-border-radius-topleft:@round;
    -webkit-border-bottom-left-radius:@round;
    -webkit-border-top-left-radius:@round;
    border-bottom-left-radius:@round;
    border-top-left-radius:@round;
}

.roundRight() {
    -moz-border-radius-bottomright:@round;
    -moz-border-radius-topright:@round;
    -webkit-border-bottom-right-radius:@round;
    -webkit-border-top-right-radius:@round;
    border-bottom-right-radius:@round;
    border-top-right-radius:@round;
}

body {
    .bgCover();
    background-color: @bgColor;

    padding: 10px;
    font-family:verdana;

    .gameContainer{

        perspective: @perspective;
        .headerContainer, .footerContainer{
            transform: rotateX(0deg);
            height:@rem;
        }
        .headerContainer{background-color:rgba(0, 0, 0, 0);}
        .footerContainer{background-color: rgba(0, 0, 0, 0);
            padding-top:50px;
        }
        .boardContainer{
            color: @boardTextColor;
            transform: rotateX(@rot);
            perspective: @perspective;
            width:@perc;
            height:@perc;
            position:relative;
            background-color:@boardBorder;
            margin:0 auto;
            -moz-box-shadow:0.5vmin 0.5vmin 5vmin @boardShadow;
            -webkit-box-shadow:0.5vmin 0.5vmin 5vmin @boardShadow;
            box-shadow:0.5vmin 0.5vmin 5vmin @boardShadow;
            .bgMarbleBoard();
            .brdColumns, .brdRows{
                position:absolute;
                display:flex;
            }

            .white {
                &.brdColumns{
                    flex-direction: row
                }
                &.brdRows{
                    flex-direction: column-reverse
                }
            }
            .black {
                &.brdColumns{
                    flex-direction: row-reverse
                }
                &.brdRows{
                    flex-direction: column
                }
            }
            .brdRow,.brdColumn{
                display:flex;
                align-items: center;
                justify-content: center;
                font-weight:bold;
                font-size:@fontSize;
            }
            .brdRows{
                &.left{
                    bottom:@brd;
                    left:0px;
                }
                &.right{
                    bottom:@brd;
                    right:0px;
                }
                width:@brd;
                height:calc(@cellSize * 8);
                
                .brdRow {
                    flex:1;
                    width:@brd;
                    height: @cellSize;
                }  
            }

            .brdColumns{
                &.bottom{
                    bottom:0px;
                    left:@brd;
                }
                &.top{
                    top:0px;
                    left:@brd;
                }
                height:@brd;
                width:calc(@cellSize * 8);
                .brdColumn {
                    flex:1;
                    width:@cellSize;
                    height: @brd;
                }
            }

            .board {
                position:absolute;
                top:@brd;
                left:@brd;
                width:calc(@perc - 2 * @brd);
                height:calc(@perc - 2 * @brd);
                outline: @outLineOut ridge @outerBorder;
                margin:0 auto; 
                .row {
                    display:flex;
                    flex-flow: row wrap;
                    .cell{
                        width:@cellSize;
                        height:@cellSize;
                        line-height:@cellSize;
                        text-align:center;
                        color:transparent;
                        outline: @outLineIn inset @innerBorder;

                        background-color: @whiteBackground;
                        &>.piece.active:hover {
                            background-color:@hoverCellColor;
                            cursor:pointer;
                        }
                        box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        overflow:hidden;
                        -moz-user-select: none;
                        -webkit-user-select: none;
                        -ms-user-select:none;
                        user-select:none;
                        -o-user-select:none;
                    }
                }
                
                .row:nth-child(even){
                    .cell:nth-child(odd){
                        background-color:@blackBackground;
                        .bgMarbleCellBlack();
                    }
                    .cell:nth-child(even){
                        background-color:@whiteBackground;
                        .bgMarbleCellWhite();
                    }
                }
                .row:nth-child(odd){
                    .cell:nth-child(even){
                        background-color:@blackBackground;
                        .bgMarbleCellBlack();
                    }
                    .cell:nth-child(odd){
                        background-color:@whiteBackground;
                        .bgMarbleCellWhite();
                    }
                }
                .piece {
                    // z-index:500;
                    // transform: rotateX(-0deg);

                    display:inline-block;
                    font-size:calc(0.8 * @cellSize);
                    text-align: center;
                    width:@cellSize;
                    z-index:100;
                    &.white {
                        color:@whiteColor;
                        text-shadow:0px 0px 10px @whiteShadow;
                    }
                    &.black {
                        color:@blackColor;
                        text-shadow:0px 0px 10px @blackShadow;
                    }

                    text-align: center;
                    border-spacing: 0pt;
                    font-family: 'Arial Unicode MS';
                    border-collapse: collapse;
                    // border-color: black;
                    border-style: solid;
                    border-width: 0pt 0pt 0pt 0pt;
                }
            }

            .underBoardContainer{
                // .bgMarbleCellWhite();
                .bgMarbleBoard();
                height:5vh;
                position:absolute;
                bottom:-3vh;
                left:1%;
                width:98%;
                transform: rotateX(-2*@rot);
                font-size:3vmin;
                a {
                    color:inherit;
                    text-decoration: none;
                }
                a:hover {
                    color:white;
                }
            }
        }
    } 
}

