maltaF('vars.less')
maltaF('functions.less')
maltaF('font.css')
body {
    .bgCover();
    &.imaged {
        .bgImage();
    }
    background-color: @bgColor;
    padding: 0px;
    margin: 0px;
    font-family:verdana;
    .gameContainer{
        perspective: @perspective;
        .headerContainer, .footerContainer{
            height:@rem;
        }
        maltaF('headerPanel.less')
        maltaF('footerPanel.less')
        maltaF('board.less')  
    } 
}

