maltaF('style.less')
body{
    background-color:black;
    color:white;
    h2 {
        text-align: center;
        & sub{
            font-size: 0.4em;
            position: relative;
            top: 0.4em;
        }
    }
    
    img {
        max-width: 60vw;
        margin-top: 60px;
    }

    header{
        height: 6em;
        line-height: 6em;
        font-size: 0.6em;
        font-weight: bold;
        top: 0px;
        width: 94%;
        padding: 0 3%;
        & .watch{
            float:left
        }
        & .samples{
            float: right;
            color: inherit
        }
    }

    .presentation{
        margin: 0px 0px 20px;
        font-style: italic;
        text-align: center;
    }
    
    .exp{
        height: 100vh;
        background-color: #000;
        text-align: center;
        padding: 100px;
    }
    .graph{
        margin: 0px;
        padding: 0px;
        outline: 0px;
        border: none;
        height: 100px;
        position: relative;
        top: 100px;
        border-bottom-width: 100vh;
        border-bottom-style: solid;
        border-bottom-color: black;
        overflow: hidden;
    }
}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 596px) {
    body{
        overflow:hidden;
        h2 {
            font-size: 1.4em;
        }
        p{
            font-size: 0.8em
        }
        img {
            margin-top: 20px;
        }
        .graph{
            border-bottom-width: 100vh;
        }
    }
}