maltaF('style.less')

@round: 10px;

@black: #000;
@gray: #aaa;
@lightGray: #eee;
@green: #8a8;
@white: #fff;

.roundTop() {
    -moz-border-radius-topleft: @round;
    -moz-border-radius-topright:@round;
    -webkit-border-top-left-radius:@round;
    -webkit-border-top-right-radius:@round;
    border-top-left-radius:@round;
    border-top-right-radius:@round;
}
.roundBottom() {
    -moz-border-radius-bottomleft:@round;
    -moz-border-radius-bottomright:@round;
    -webkit-border-bottom-left-radius:@round;
    -webkit-border-bottom-right-radius:@round;
    border-bottom-left-radius:@round;
    border-bottom-right-radius:@round;
}


body{
    font-size: 18px;
    font-family: verdana;
    .target{
        margin: 5%;
        
        display: flex;
        flex-direction: column;
    }
    .shareArea{
        .shareAreaDrop {
            flex:1 auto;
            text-align: center;
            border:1px dashed @gray;
            height:100px;
            color: @gray;
            padding-top: 50px;
            cursor: grab;
            background-color: @lightGray;
            .roundTop();
            .roundBottom();
            position:relative;
            & button{
                display:none;
                border:1px solid black;
                padding: 5px;
                font-size: inherit;
                margin: 0 5px;
                position: absolute;
                bottom: 10px;
                right: 10px;
                cursor: pointer;
                .roundTop();
                .roundBottom();
            }
            &.disabled {
                & button {
                    display:block
                }
                cursor: default;
                color: @lightGray;
                height: 10px;
            }
            &:hover {
                background-color: rgba(120,180,120, 0.3)
            }
        }
        .shareAreaButtons {
            display:flex;
            li.file {
                height:30px;
                line-height:30px;
                cursor:default;
                margin-right:15px;
                font-size:20px;
                // span.close{
                //     display:inline-block;
                //     height:30px;
                //     line-height:30px;
                //     padding:0 5px;
                //     cursor:pointer;


                //     // visibility:hidden
                    
                // }
                
                
                
                &:hover span.close{
                    color:Red;
                    visibility:visible
                }
            }
        }

    }
    .sharedArea{
        flex : 1;
        display: flex;
        flex-direction: column;
        
        p.title {
            margin:0px;
            padding: 10px 0;
            
        }
        .filelist {
            font-size: 18px;
            border:1px solid @gray;
            option {
                border:1px solid @gray;
            }
            margin-right:10px;
        }

        ul.tabList {
            li.tabTongue {
                font-size:20px;
                height:30px;
                line-height: 30px;
                padding-left:10px;
                background-color: @white;
                border: 1px solid @gray;
                // border-bottom: 1px solid @white;
                position:relative;
                top:1px;
                width:100px;
                display:inline-block;
                margin-right:10px;
                cursor:pointer;
                background-color: @lightGray;
                color:@gray;
                .roundTop();
                &.active {
                    border-bottom: 1px solid @white;
                    cursor:default;
                    color:@black;
                    background-color: @white;
                }
                &:hover{
                    color:@black;
                    span.close{
                        color:red;
                        visibility:visible;
                    }
                }

            }
        }
        .tabContent{
            .content {
                flex-grow: 1;
                height: 500px;
                resize: none;
                border: 1px solid @gray;
                width: 98%;
                padding: 1%;
                font-size: 18px;
                font-family: verdana;
                &:focus{
                    border:1px solid @gray;
                    overflow: auto;
                    outline: none;
        
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                }
                .roundBottom();
            }
        }


    }
    span.close {
        visibility:hidden;
        padding:0 5px;
        display: inline-block;
        border:none;
        background-color: transparent;
        font-size:20px;
        line-height:30px;
        height:30px;
        cursor:pointer;
    }    
    
}
