$$style.less$$
body{
    font-family: verdana;
    font-size: 1.5em;
    background-color: #fff;
    color: #000;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    .explanation{
        padding:2rem;
        line-height:2rem;
        background-color: deepskyblue;
    }
    .exp{
        height: 100vh;
        background-color: #000;
        text-align: center;
        padding: 100px 100px;
    }
    button {
        padding: .4em;
        margin: .2em;
        font-size:1em;
        border: none 5px #000000;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background: -webkit-gradient(linear, 80% 20%, 10% 21%, from(#FFFFEC), to(#C0B9B5));
        cursor: pointer;
    }

    #number{
        text-align: center;
        margin-top: 100px;
        color: deepskyblue;
        text-shadow: 2px 2px 5px red;
    }

    input[type=text], input[type=text]:disabled{
        font-size: 1em;
        padding: .4em;
        width: 200px;
        border: none;
        outline: none;
        margin-bottom: 10px;
    }

    input[type=text]:disabled, textarea:disabled {
        background-color: #ddd;
        color: gray;
        font-style: italic;
    }

    textarea{
        width: 50vw;
        height: 200px;
        font-family: inherit;
        font-size: inherit
    }
}

@media only screen and (max-width : 596px) {
    input, textarea{
        max-width: 100%;
        width: 100%;
    }
    div.exp {
        padding: 20px;
    }
}