body {
    margin: 10px;
    padding:0px;
    font-family: verdana;
}
ul {
    list-style-type: lower-greek;
    padding:20px;
    margin:10px
}
ul a{
    text-decoration: none;
    color:green
}
ul a:hover{
    color:black;
}