body{
    font-family: verdana;
    font-size: 1.5em;
    background-color: #fff;
    color: #000;
    margin:0px;
    padding:0px;
    height:100vh;
}
h2 {font-size:2em}
h2 sub{font-size: 0.4em}

h6{
    margin:0px;
    font-size:0.6em;
    padding:1.5em;
    color:gray
}
img {
    max-width: 60vw
}
a{
    color: #d44;
    text-decoration: none
}

header{
    height:4em;
    margin-bottom:50px
}
.rounded{
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

input:focus{border:none;}

.clear{
    clear:both;
    height:0;
    line-height:0;
}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 420px) {
    textarea{
        max-width:100%;
    }
    h1, h2{
        font-size:2rem
    }
}