* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  font-family: verdana;
  background-color: #126;
  background-image: url('../media/synchazard4.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  max-width:100%;
  text-align:center;
  margin:0 auto;
  section {
    text-align: center;
    padding-top: 7%;
    color: #ddd;
    h1 {font-size: 4em;}
    h5 {color: white;}
  }
}